.loginDiv
{
	float :left;
	opaque: 0.5;
	border-radius: 10px;
	margin: 5px;
	
}

.instructions
{
	font-weight: bold;
	font-size: 15px;
	opaque:  0.9;
	clear: both;
	text-align: left;
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px;
}