.formdiv
{
	clear:both;
	width: 100%;
	border-radius: 10px;
	border: 2px solid #262626;
	height: auto;
	text-align: left;
	/*background-color: #000000;*/
	display: inline-block;
	padding: 10px;
}

.formdiv .formitem
{
	float: left;
	margin: 5px 5px;
	clear: both;
	display: block-inline;
	width: 100%;
}

.formdiv .formitem label
{
	float: left;
	color: #F3EFD6;
    font-size: 18px;
	text-align: right;
	width: 25%;
	margin: 0 10px 0 0;
}

.formdiv .formitem div
{
	background: none repeat scroll 0 0 #151515;
    border: 1px solid #262626;
	float: left;
	width: 65%;
	min-height: 35px;
	color: #F3EFD6;
    font-size: 18px;
}

.formdiv .formitem div div
{
	width: 100%;
	display: inline-block;
}

.singleRowSet div
{
	width: 100%;
}

.formdiv .formitem div .head
{
	border-bottom: 1px solid gray;
}

.formdiv .formitem div p
{
	float: left;
	margin: 0px;
	padding: 5px;
}

.formdiv .formitem div p  label
{
	font-size: 16px;
	width: 80px;
}

.formdiv .formitem div p .formcb
{
	height: 20px;
	width: 5px;
	float: left;
}

.formdiv .formitem div p .smallinput
{
	width: 45px;
	float: left;
}

.formdiv .formitem div p input
{
	width: 225px;
	float: left;
}

.formdiv .formitem .formitemhead
{
	float: left;
	color: #F3EFD6;
    font-size: 18px;
}

.formdiv .formitem input
{
	float: left;
	background: none repeat scroll 0 0 #151515;
    border: 1px solid #262626;
    color: #F7B504;
    font-family: 'Bitter',serif;
    font-size: 16px;
    height: 35px;
	width: 65%;
	/*margin: 0 5px 0 0;*/
	padding: 0 5px 0 5px;
    line-height: 30px;
}