.appBodyDiv
{
	width: 1000px;
}

.headerDiv
{
	widows: 100%;
	clear: both;
	font-size: 20px;
	font-style: oblique;
	color: #F3EFD6;
	margin: 5px;
	padding: 10px;
}

.bodyDiv
{
	color: black;
	margin: 5px;	
	clear:both;
}

.footerDiv
{
	widows: 100%;
	min-height: 25px;
	clear: both;
	background-color: white;
	opacity: 0.9;
	color: black;
	border-radius: 10px;
	margin: 5px;
}

.moduleHeaderDiv
{
	font-size: 20px;
	font-style: oblique;
	background-color: red;
	opacity: 0.9;
	padding: 10px;
	border-radius: 10px;
	clear: both;
	float: center;
}

.moduleBodyDiv
{
	opacity: 1;
	background-color: white;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	display: inline-block;
	width: 100%;
}

table
{
	clear:both;
	padding: 5px;
	height: auto;
	text-align: left;
	background-color: #000000;
	border-collapse: collapse;
	border-radius: 5px;
	border: 1px solid #595959;
}

thead
{
	color: #F7B504;
}

tbody
{
	color: #F3EFD6;
}

tr
{
	border-bottom: 1px solid #595959;
	padding: 5px;
}

th
{
	border-bottom: 2px solid #595959;
	padding: 9px 8px 0;
	border-right: 1px dashed #262626;
}


td
{
	padding: 9px 10px 0;
	border-right: 1px dashed #262626;
}

.submitbutton
{
	height: 53px;
	border: 1px solid #262626;
	margin: 0 15px 0 0;
	background-color: #F3EFD6;
	font-size: 24px;
	font-weight: bold;
}

.submitbutton:hover
{
	
	background-color: #000000;
	color: #F3EFD6;
	font-size: 24px;
	font-weight: bold;
	height: 53px;
	border: 1px solid #262626;
	margin: 0 5px; 0 0;
}