.appBodyDiv
{
	width: 1000px;
	float: left;
}

.headerDiv
{
	widows: 100%;
	clear: both;
	font-size: 20px;
	font-style: oblique;
	color: #F3EFD6;
	margin: 5px;
	padding: 10px;
}

.pagebody
{
	display:block-inline;
	clear: both;
}

.bodyDiv
{
	width: 780px;
	margin: 0 0 0 10px;
	padding: 5px 0 0 5px;
	float: left;
	text-align: left;
	border: 1px solid #4D4D4D;
	border-radius: 5px 5px 5px 5px;
}

.menuDiv
{
	width: 200px;
	float: left;
	text-align: left;
	background-color: #1D1D1D;
	border: 1px solid #4D4D4D;
	border-radius: 5px 5px 5px 5px;
	color: #F3EFD6;
}

.menuDiv h3
{
	padding: 5px;
}

.menuDiv ul li
{
	text-decoration: none;
	list-style: none outside none;
	border: 1px solid #2D2D2D;
	border-radius: 5px;
	padding: 5px;
	margin: 0 0 0 -25px;
	width: 160px;
}

.menuDiv ul li:hover
{
	background-color: #444444;
}

.menuDiv ul li a
{
	text-decoration: none;
	width: 100%;
	color: #F3EFD6;
}

.bodyPane
{
	display: inline-block;
}

.footerDiv
{
	min-height: 25px;
	clear: both;
	opacity: 0.9;
	color: white;
	margin: 10px 0 0 0;
	font-family: fantasy;
}

.moduleHeaderDiv
{
	font-size: 20px;
	font-style: oblique;
	padding: 10px;
	clear: both;
	float: center;
}

.moduleBodyDiv p
{
	text-align: left;
}

table
{
	clear:both;
	padding: 5px;
	height: auto;
	text-align: left;
	background-color: #000000;
	border-collapse: collapse;
	border-radius: 5px;
	border: 1px solid #595959;
	margin: 0 0 5px 0;
}

thead
{
	color: #F7B504;
}

tbody
{
	color: #F3EFD6;
}

tr
{
	border-bottom: 1px solid #595959;
	padding: 5px;
}

th
{
	border-bottom: 2px solid #595959;
	padding: 9px 8px 0;
	border-right: 1px dashed #262626;
}


td
{
	padding: 9px 10px 0;
	border-right: 1px dashed #262626;
}

.submitbutton
{
	height: 53px;
	border: 1px solid #262626;
	margin: 0 15px 0 0;
	background-color: #F3EFD6;
	font-size: 24px;
	font-weight: bold;
}

.submitbutton:hover
{
	
	background-color: #000000;
	color: #F3EFD6;
	font-size: 24px;
	font-weight: bold;
	height: 53px;
	border: 1px solid #262626;
	margin: 0 5px; 0 0;
}